@import url("common.css");
@import url("side_menu.css");

#handbookInfo li {
    font-size: 24px;
}

#handbookInfo {
    margin-bottom: 30px;
}

#handbookLinks {
    margin-top: 10px;
    margin-bottom: 10px;
}

#handbookLinks a {
    font-size: 24px;
    color: #a51417;
    margin-right: 10px;
}

#handbookLinks p {
    display: inline;
}

#container {
    display: flex;
    justify-content: space-evenly;
}

main {
    margin-top: 180px;
}
